.formulario {
    background-color: white;
    height: 30rem;
    width: 25rem;
    margin-top: 16%;
    margin-left: 38%;
    text-align: center;
    border: rgba(255, 255, 255, 0.089) 0.2rem solid;
    border-radius: 12px;
}

.form_container {
    margin-top: 1%;
}

.form_container input {
    margin-bottom: 2%;
}

.form_container h1 {
    text-align: left;
    margin-left: 10%;
}

.form_btn {
    background-color: rgb(72, 11, 184);
    color: white;
    width: 60%;
    margin-top: 5%;
    border: rgb(95, 95, 95) 0.1rem solid;
    border-radius: 6px;
}

.form_btn:hover {
    background-color: white;
    color: black;
}

.title {
    margin-bottom: 0%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(72, 11, 184);
}

.title2 {
    margin-bottom: 0%;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(72, 11, 184);
}